@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

///////////////////////////////////////////////////////////
///////// AJUSTES GENERALES ///////////////////////////////
///////////////////////////////////////////////////////////

.container-ingresos form {
  padding: 1em 0;
}

.container-ingresos label {
  font-weight: 600;
  color: #666;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.82em;

  .container-ingresos &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;

    input,
    select {
      margin-top: 8px;
    }
  }
}

.next,
.next:visited {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  float: right;
  border: none;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

//////////////////////////////////////////////////////////////////////
// SCROLL HORIZONTAL
//////////////////////////////////////////////////////////////////////

.container-service {
  overflow-x: scroll;
  padding-bottom: 1em;
}
.container-service ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
}

.container-service li {
  float: left;
}

//////////////////////////////////////////////////////////////////////
// CARD STYLE
//////////////////////////////////////////////////////////////////////

.card-header {
  font-weight: bolder;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  color: #444;
}

.container-card_service {
  width: 340px;
  font-family: "Roboto", sans-serif;
}

.container-card_service .card {
  border-radius: 0.4em;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.container-card_service .card-header {
  width: 100%;
  height: 120px;
  padding: 0;
  background-color: #fff;
}

.container-card_service .card-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-card_service .card-body {
  padding: 0;
}

.container-card_service .tarjeta-title {
  display: flex;
  background-color: #03a9f4;
  padding: 1em;
  padding-top: 1.2em;
  color: #fff;
  height: 60px;
  width: 100%;
  border-radius: 0.4em 0.4em 0 0;
}

.container-card_service .tarjeta-title h4 {
  font-size: 0.8em;
  flex-basis: 80%;
}

.container-card_service .tarjeta-title a {
  border-radius: 5%;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  left: 84%;
  top: 12px;
  transition: 0.3s all ease;
}

.container-card_service .tarjeta-title a:hover {
  color: #f13437;
  text-shadow: 1px 1px 0.2em #810303;
}

.animacionClose:hover {
  animation-name: miAnimacionClose;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes miAnimacionClose {
  0% {
    transform: rotate(-360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-card_service .card-text {
  padding: 1em;
  font-size: 0.8em;
  color: #666;
  height: 140px;
}
//////////////////////////////////////////////////////////////////////
// OTROS AJUSTES
//////////////////////////////////////////////////////////////////////

.agregar-service {
  height: 50px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  font-size: 0.8em;
}

#registrarVehiculo,
#agregarServicio {
  height: 50;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 0.8em;
  padding: 2em;
}

#agregarServicio {
  color: #303030;
  padding: 0;
}

#ingresarVehiculo {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 0.8em;
  padding: 0;
}

input::placeholder {
  color: #5c5c5c !important;
}

.container-service {
  height: 427px;
  overflow-y: hidden;
  min-width: 600px;
  scroll-behavior: smooth;
}

#code-tarjeta {
  position: absolute;
  border-radius: 0 0.2em 0.2em 0;
  left: 0;
  top: 70px;
  width: 30%;
  color: #fff;
  padding: 1em 2em;
  background-color: orange;
  float: right;
  box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

#buscar_vehiculo {
  cursor: pointer;
}

#buscar_vehiculo:hover {
  color: #007bff;
}

#Formulario input:disabled {
  background-color: rgb(224, 224, 224);
}
#Formulario select:disabled {
  background-color: rgb(224, 224, 224);
}

.formulario__validacion-correct {
  color: green;
}

.formulario__validacion-incorrect {
  color: red;
}

.formulario__validacion-estado {
  position: absolute;
  right: 20px;
  bottom: 8px;
  z-index: 1;
  font-size: 16px;
  opacity: 0;
}

label.error {
  position: absolute;
  top: 6px;
  left: 206px;
  display: block;
  margin: 0;
}

#placa-error {
  left: 155px;
}

#mantSi {
  display: none;
}

.animacion {
  opacity: 0;
  animation-name: miAnimacion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes miAnimacion {
  0% {
    transform: rotate(-0.001turn);
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    color: #007bff;
    transform: rotate(0.1turn);
    opacity: 1;
  }

  100% {
    transform: rotate(0.004turn);
    opacity: 0;
  }
}

#mant-success {
  position: absolute;
  right: 80px;
  bottom: 0;
  width: 200px;
  height: 44px;
  display: none;
  background-color: #2b8ef8;
  text-align: center;
}

input[readonly], select.desactivo {
  background: #0000001a;
}

.modal-open {
  padding-right: 0px !important;
}



