@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);


/* ///////////////////////////////////////////////////
   /////////// TARJETA 
/////////////////////////////////////////////////// */

.container-tarjeta {
    font-family: 'Roboto', sans-serif;
    border-radius: 0 0 .4em .4em;
    box-shadow: 0 8px 40px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.container-img img{
    padding: 1em;
}


.container-text .title .code{
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    padding: .7em 1em;
    background-color: #F4A903;
    flex-grow: 1;
}

.container-text .title .nombre{
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    padding: .7em 1em;
    background-color: #03A9F4;
    flex-grow: 15;

}

.container-text .descp {
    padding: 1em;
    font-size: .8em;
}

.container-costo {
    padding-right: 1em;
    padding-bottom: 1em;
    justify-content: end;
}

.container-costo .costo {
    background-color: #707070;
    padding: .8em 4em;
    font-size: .9em;
    font-weight: bolder;
    color: #fff;
}

/* ///////////////////////////////////////////////////
   /////////// END TARJETA 
/////////////////////////////////////////////////// */





.form-registrar_productos {
    padding-top: 0;
}
/*
.form-registrar_productos .form-control {
    font-size: .8em;
}

.container-circle-down {
    width: 100%;
    
}
.container-circle-down {
    display: flex;
    justify-content: center;
}
.container-circle-down a {
    color: #079b33;
    font-size: 3em;
    transition: 1s ease all;
    margin: 0 .2em;
}
.container-circle-down a:hover {
    color: #212529;
}

#text-next {
    color: #fff;
    padding: 1.2em;
    position: none;
    display: none;
}

#container-table {
    margin-top: 2em;
}

#btn-up {
    position: fixed;
    left: 97%;
    bottom: 10px;
}

#btn-up i{
    color: #E0A800;
    opacity: 30%;
    font-size: 3em;
    transition: ease-in all .5s;
}
#btn-up i:hover{
    opacity: 80%;
}



#btn-down{
    position: fixed;
    left: 18%;
    bottom: 10px;
}

#btn-down i{
    color: #31353D;
    opacity: 15%;
    font-size: 3em;
    transition: ease-in all .5s;
}

#btn-down i:hover{
    opacity: 80%;
}

.pagination {
    margin: 0;
}

.pagination .active {
    background-color: #F4A903;
}

.pagination .active:hover {
    background-color: #F4A903 !important;
}

.pie-paginacion {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.container-acciones {

}
    .container-acciones #editar , #eliminar {
        color: #fff;
        margin: .1em;
    }


html {
    scroll-behavior: smooth;
}
*/