body {
  overflow: hidden;
}

 h1{
    font-size: 301.875rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.938rem;
  }
  table{
    background-color: white;
    width:100%;
    table-layout: fixed;

  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    min-height: 9.375rem;
    height:9.375rem;
    overflow-x:auto;
    margin-top: 0;
    border: 0.063rem solid rgba(255,255,255,0.3);
  }
  th{
    
    padding: 1.25rem 0.938rem;
    text-align: left;
    font-weight: 500;
    font-size: 0.75rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
  }
  td{
    padding: 0.938rem;
    padding-bottom: 0;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 0.75rem;
    color: #000;
    border-bottom: solid 0.063rem rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

  section{
    margin: 3.125rem;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 0.375rem;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3); 
  }


  .container-title-left {
    text-align: left;
    
  }

  .cont h2 {
     font-size: .82em;
      text-transform: uppercase;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
  }

  .cont p{
    display: inline-block;
  }

  .jlist{
    min-height: 9.375rem;
    max-height: 9.375rem;
  }

  .jlist:read-only {
    background-color: rgb(255, 255, 255);
    cursor: auto;
  }

.conteiner-buttom {
  justify-content: center;
}