

body {
    background-color: #f1f1f1;
}

.conteiner-principal {
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0 0 1em #bbbbbb;
}

    .btn , .lista{
        font-size: .8em;
    }
    .conteiner-ingreso .card-header {
        padding: .5em 0 .5em 1em;
        font-size: .8em;
        font-weight: bold;
    }

    .conteiner-ingreso .card-body {
        padding: .5em;
    }

    .conteiner-ingreso .card-body .form-group{
        margin-bottom: .5em;
    }

    .conteiner-ingreso .card-body input{
        font-size: .8em;
    }



.card-h4 {
    margin-bottom: .5em;
    
}

    .title-prinicpal {
        padding: .2em 0;
        background-color: #f1f1f1;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        margin: 0;
    }



.registrar_vehiculo {
    background: linear-gradient(243.87deg, #ACC34F 2.6%, #00AA79 60.6%); 
    border: none;
}
    .registrar_vehiculo:hover {
        background: linear-gradient(243.87deg, #ACC34F 2.6%, #ACC34F 60.6%);
    }


.conteiner-servicios {
    padding: .5em .5em 0 .5em;
    margin-top: .5em;
}

.conteiner-list .form-group {
    padding: 0;
}


.seleccionador {
    font-size: .7em;
}

.agregar_servicio {
    background: linear-gradient(243.87deg, #01B6B7 2.6%, #35528C 60.6%);
    border: none;
    
}
    .agregar_servicio:hover {
        background: linear-gradient(243.87deg, #01B6B7 2.6%, #01B6B7 60.6%);

    }


.ingresar_vehiculo {
    background: linear-gradient(243.87deg, #36538D 2.6%, #00B8B8 60.6%);
    border: none;
        
}
    .ingresar_vehiculo:hover {
        background: linear-gradient(243.87deg, #00B8B8 2.6%, #00B8B8 60.6%);
    }    


.cancelar {
    background: linear-gradient(243.87deg, #CC3F62 2.6%, #FF9000 60.6%);
    border: none;
        
}
    .cancelar:hover {
        background: linear-gradient(243.87deg, #FF9000 2.6%, #FF9000 60.6%);
    }  