.card {
  border: 1px solid rgb(192, 192, 192);
}


form {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

  }

  label {
    font-weight: 600;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 0.82em;
  }

  input, select, textarea {
    font-family: inherit !important;
    border-radius: 8px !important;
    color: rgb(83, 83, 83) !important;
    border: 1px solid rgb(182, 182, 182) !important;
    font-size: .8em !important;
    font-weight: bold;
  }

  input::placeholder , textarea::placeholder {
      color: rgb(129, 129, 129) !important;
      font-weight: 100;
      font-size: 1.1em; 
  }

  .btn-choose {
    border-radius: 8px 0 0 8px;
  }

  .input-choose {
    border-radius: 0 !important;
  }

  .btn-reset {
    border-radius: 0 8px 8px 0;
  }

#registrar {
    height: 50;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #303030;
    font-size: 0.8em;
}

