html {
  scroll-behavior: smooth;
}


.card {
  border: 1px solid rgb(192, 192, 192);
}


form {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  label {
    font-weight: 600;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 0.82em;
  }

  input, select, textarea {
    font-family: inherit !important;
    border-radius: 8px !important;
    color: rgb(83, 83, 83) !important;
    border: 1px solid rgb(182, 182, 182) !important;
    font-size: .8em !important;
    font-weight: bold;
  }

  input::placeholder , textarea::placeholder {
      color: rgb(129, 129, 129) !important;
      font-weight: 100;
      font-size: 1.1em; 
  }

  .btn-choose {
    border-radius: 8px 0 0 8px;
  }

  .input-choose {
    border-radius: 0 !important;
  }

  .btn-reset {
    border-radius: 0 8px 8px 0;
  }

  #resultado td:last-child #btn-edit {
    margin: 0;
    margin-left: .2em;
  }

#registrar {
    height: 50;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #303030;
    font-size: 0.8em;
}

.error {
  display: initial;
  color: #D62F31;
}

#registrado-msj {
  display: none;
}

#resultado td {
  vertical-align:  inherit;
}

#show-sidebar {
  z-index: 1;
}


@media only screen and (max-width: 1412px) {

  .page-wrapper.toggled .page-content {
    padding-left: 260px !important;
  }

  .page-wrapper .page-content > div {
    padding: 20px 30px !important;
  }

  #resultado td:last-child {
    padding: 0;
  }
  
 }


@media only screen and (max-width: 1240px) {

  .page-wrapper.toggled .page-content {
    padding-left: 260px !important;
  }

  .page-wrapper .page-content > div {
    padding: 20px 30px !important;
  }

  #comienzo-pag .card {
    word-wrap: normal;
  }

  #resultado td:last-child {
    padding: 0;
  }
  
}

@media only screen and (max-width: 1200px) {

  .table thead th:last-child  {
    width: 4% !important;
  }

  #resultado td button {
    display: block;
    margin: .2em auto !important;
  }

  .container {
    max-width: 1260px;
  }

}

@media only screen and (max-width: 720px) {
  .table th{
    padding: 0 .2em;
  }
  .table td {
    padding: 0;
  }
}
